* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

header h1 {
    color: #facc15;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #facc15;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #facc15;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

/* CARS */
.cars {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}